---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Cratemap">
    <main>
        <article class="region prose wrapper hero">
            <h1>Cratemap</h1>
            <h2>What Lies Downstream</h2>
            <ul role="list" class="grid features">
                
                <li class="flow">
                    <section>Plugin Engine.
                        <br/>
                        </section>
                        <ul role="list" class="grid features">
                            Flexible and robust functionality for hooking to the DAW, scanning for plugins of various types, and recording settings and preferences.
                        </ul>
                    </section>

                </li>
                <li class="flow">
                    <section>Metadata Engine.
                        <br/>
                    </section>
                        <ul role="list" class="grid features">
                            Metadata utilities for files, projects, and collaborators to bolster versioning functionality,
                            access permissions, and state synchronization.
                        </ul>
                    

                </li>
                <li class="flow">
                    <section>Access Control Engine.
                        <br/>
                    </section>

                        <ul role="list" class="grid features">
                            Provision permissions for internal and external collaborators, according to role and area of expertise, or projects, and the files that comprise them.
                        </ul>

                </li>
                <li class="flow">
                    <section>Automation Engine.
                        <br/>
                    </section>

                        <ul role="list" class="grid features">
                            Tools that will allow automating mixing and editing preferences, integrating them into into the workflow of project management, and applying effects on the fly.
                        </ul>

                </li>
            </ul>
        </article>
        <footer class="region prose wrapper">
            <a href="/purpose/">Purpose</a>,
            <a href="/overview/">Overview</a>,
            <a href="/constructs/">Concepts</a>,
            <a href="/">Home</a>.
          </footer>
    </main>
</Layout>