---
import Layout from '../layouts/Layout.astro';
---

<Layout title="ArtRiver">
  <main>
    <article class="region prose wrapper hero">
      <h1>ArtRiver</h1>

      <h2>
        The Artistic Revision Tracker and Retriever Protocol.
      </h2>
    </article>

    <article class="region prose wrapper">
      <ul role="list" class="grid features">
        <li class="flow">
          <a href="/purpose/" style="text-decoration: none"><h3>Purpose</h3></a>
          <p>
            What ArtRiver will bring to creatives.
          </p>
        </li>

        <li class="flow">
          <a href="/overview/" style="text-decoration: none"><h3>Overview</h3></a>
          <p>
            ArtRiver from a Bird's-eye view.
          </p>
        </li>

        <li class="flow">
          <a href="/constructs/" style="text-decoration: none"><h3>Constructs</h3></a>
          <p>
            The constructs that underlie an ArtRiver.
          </p>
        </li>

        <li class="flow">
          <a href="/cratemap/" style="text-decoration: none"><h3>Cratemap</h3></a>
          <p>
            A look into the future of ArtRiver.
          </p>
        </li>
      </ul>
    </article>
  </main>
</Layout>
