---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Overview">
  <main>
    <article class="region prose wrapper hero">
      <h2>ArtRiver</h2>
      <h3>May we all meander more.</h3>
      <p>
        ArtRiver is a distributed version control system for digital audio workstations, 
        with cloud and hardware
        storage capabilities, that will allow artists to navigate the
        various branches and possibilities a creative work went through, on the
        way to completion.
      </p>

      <p>
        Artriver exists to allow artists to draw from a granular record of the
        various tweaks and changes they make to various pieces of art, by
        coalescing these creative excursions in various directions into a
        navigable digital construct.
      </p>

      <p> Artists can avoid the worry of accidental deletions, not just of whole
      works, but of parts of versions of works, and the like. From another
      perspective, it offers a new methodology to hone their craft, pin-pointing
      the mixing or synthesizer settings that didn't resonate, blossom fully,
      or highlight those that put the art on the path to becoming a finished product. </p> 
      
      <p> The creative process, rather than culminating in this point, can in fact
      have a life beyond it.</p>
      
    </article>
    <footer class="region prose wrapper">
      <a href="/purpose/">Purpose</a>,
      <a href="/constructs/">Concepts</a>,
      <a href="/cratemap/">Cratemap</a>,
      <a href="/">Home</a>.
    </footer>
  </main>
  <p></p>
</Layout>
