---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Purpose">
    <main>
        <article class="region prose wrapper hero">
            <h2>The Dilemma of Audio</h2>
            <h3>Many Versions, No Control.</h3>
                <p>
                    Version control is not at all a new concept for iterative endeavors, having been used in industrial manufacturing and design, before it was ported to the domain of programming.
                </p>
                <p>However, given the meteoric rise of complex software, it has become genericized, with the star player being git. In less than a century from the genesis of the field, programming has effectively solved the issue of version control.
                </p>
                <p>
                Now, it is time for the creative domain to evolve, and adopt version control, as a integral part of its existence.

                A quick look around the internet will make it clear that the creative domain, has not progressed beyond First-generation version control, simply saving file names with appended and incremented series of numbers, and sharing work by emailing files.
                </p>
                <p>
                    While that may work for individual local projects, it's inefficient, unwieldy, and makes collaboration painful, providing no way to way to synchronize changes, and combine work done on various parts of creative projects.
                    It offers no utility in the way back-ups, leading to a common problem in, for example, the music industry, where files are lost forever.
                </p>
                <p>
                    In 2008, a fire at Universal Studios Hollywood destroyed roughly one to two hundred thousand master recordings, belonging to iconic artists and bands like <em>Elton John</em>, <em>Nirvana</em>, <em>Janet Jackson</em>, <em>Niel Diamond</em>, <em>Aerosmith</em>, <em>Aretha Franklin</em>, <em>Ray Charles</em>, <em>Lynyrd Skynyrd</em> and <em>Slayer</em>.
                </p>
                <p>Lucian Grainge, the CEO of Universal Music Group said in response to the event that "...<i>the loss of even a single piece of archived material is heartbreaking</i>."</p>
                <p>He's correct.</p>
                <p>ArtRiver exists to make it so that none of these problems afflict the creative process any longer. No one, from the humble hobbyists, to the greatest artists of our time, and times gone by, should lose entire pieces of artwork, due to freak accidents, and human error.</p>
                <p>In an era where the creation of art is highly technological, and iconic art from the analog era becomes digitized, version control, which is so pivital in creating the tools for making and translating art to a new medium, has a powerful and necessary role to play.</p>
        </article>
        <footer class="region prose wrapper">
            <a href="/overview/">Overview</a>,
            <a href="/constructs/">Concepts</a>,
            <a href="/cratemap/">Cratemap</a>.
            <a href="/">Home</a>.
          </footer>
    </main>
</Layout>